/* Reset some default browser styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Position "Continue Shopping" and "Checkout" relative to cart items */
.top-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-right: 50px;
  padding: 0 20px;
}

.continue {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
}

.checkout {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
}

.continue:hover {
  background-color: #4cb71e;
}

.checkout:hover {
  background-color: #d32f2f;
}

/* Product Card Styling */
.cart-item {
  display: flex;
  width: 95.7%; /* Set to 80% width */
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 0;
  margin: 2% 0;
  padding: 2%;
  box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 0;
}

.cart-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.1);
}

/* Zoom of the items */
.cart-item img {
  max-width: 20%;
  max-height: 20%;
  margin: 0 1% 0 0;
}

/* + and - sign above remove sign */
.item-details {
  width: 100%;
}

/* Spacing of cart items */
.item-details .item-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2%;
}

/* Summary Box Styling */
.summary-box {
  display: flex;
  flex-direction: column;
  width: 95.7%; /* Set to 80% width */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 2%;
  text-align: center;
  margin-top: 2%;
  align-items: center; /* Center contents horizontally */
  position: sticky;
  top: 20px; /* Adjust this value as needed */
  z-index: 1; /* Ensure it's above other content when it becomes fixed */
}
