.App {
  font-family: "Cabin";
  overflow: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
}

/*ItemDetail.css  */
/* .item-detail {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} 

.image-container {
  flex: 1;
  margin-right: 200px;
  margin-top: 50px;
} 

.image-container img {
  width: 140%;
  height: 140%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;  
} 

.details-container {
  flex: 1;  
  display: flex;
  flex-direction: column; 
  margin-left: 10px;
}  

h3 {
  font-size: 70px;  
   margin-bottom: 5px; 
}  

 .price {
  font-weight: bold;
  margin-bottom: 5px;  
} 

.weight {
  margin-bottom: 5px;  
} 

.description {
  margin-bottom: 10px; 
}  

.quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
  margin-left: 100px;
}  

.quantity-container button {
  background-color: white;
  color: rgb(4, 73, 39);
  border: 0;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
} 
 .quantity {
  margin: 0 10px;
  font-size: 16px;
} 

 .add-to-cart-button {
  background-color: rgb(4, 73, 39);
  font-weight: bold;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}  */
