.App {
  font-family: "Cabin";
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(14, 74, 33);
  background-image: linear-gradient(
    80deg,
    #629d6c,
    #bacdb0,
    rgb(216, 173, 173) 60%,
    #273236
  );
}
h2 {
  font-family: "Cabin";
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
}
.auth-form-container {
  padding: 2.8rem;
  border: 8px solid white;
  border-radius: 10px;
  margin: 0.4rem;
}
label {
  text-align: left;
  font-family: "Cabin";
  padding: 0.25rem 0;
  font-weight: bold;
  font-size: 15px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: "Cabin";
  font-weight: bold;
  cursor: pointer;
  color: rgb(14, 74, 33);
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;
}

.logo {
  padding-left: 26px;
  font-size: 24px;
  text-decoration: none;
}

ul {
  padding-right: 30px;
  list-style: none;
  display: flex;
  gap: 45px;
  text-decoration: none;
  justify-content: center;
}

li {
  font-size: 18px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: rgb(144, 189, 158);
  font-weight: bold;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
  background-color: #5b7860;
  color: rgb(14, 74, 33);
  position: fixed;
  font-family: "Cabin";
  gap: 2rem;
  padding: 0.1 1rem;
  top: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#title {
  color: rgb(4, 73, 39);
  font-family: "Cabin";
  text-decoration: underline;
}
.about-us-container,
.contact-container {
  font-weight: bold;
  font-size: 20px;
  width: 600px;
  height: 400px;
  border: 5px solid #fff;
  padding: 20px;
  color: white;
}


/* ItemDetail.css */
.item-detail {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.image-container {
  flex: 1;    
  margin-right: 200px;
  margin-top: 50px;
}

.image-container img {
  width: 140%;
  height: 140%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px; /* Optional: add rounded corners to the image */
}

.details-container {
  flex: 1; /* Set to 1 to take up remaining space */
  display: flex;
  flex-direction: column; /* Arrange the details vertically */
  margin-left: 10px; 
}

h3 {
  font-size: 70px; /* Set the font size for the item name */
  margin-bottom: 5px; /* Reduce the margin */
}

.price {
  font-weight: bold;
  margin-bottom: 5px; /* Reduce the margin */
}

.weight {
  margin-bottom: 5px; /* Reduce the margin */
}

.description {
  margin-bottom: 10px; /* Keep a slightly larger margin for description */
}

.quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Reduce the margin */
  margin-left: 100px;
}

.quantity-container button {
  background-color: red;
  border: 0;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.quantity {
  margin: 0 10px;
  font-size: 16px;
}

.add-to-cart-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
